*, *::BEFORE, *::after{
    box-sizing: border-box;
}

html,body
{
    background: linear-gradient(to right , #5D6462, #524f52);
    background-image: url("photos/backgroundImage.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.drum{
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box{
    border-radius: 10%;
    width: 80px;
    height: 80px;
    margin: 12px 1px;
    box-shadow: 0 10px 6px -6px black;
    background-color: rgb(41, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

.tBox{
  width: 100px;
  height: 100px;
  padding-left: 1px;
  padding-top: 1px;
  margin-left:0px;
  margin-top: 0px;
}
.tRow{
  width: 100px;
  height: 100px;
  padding-left: 1px;
  padding-top: 1px;
  margin-left:0px;
  margin-top: 0px;
}

.table{
  justify-content: left;
}
.box.active {
    background-color: darken(#444, 10%);
    transform: scale(1.1);
    transition: all .1s;
    animation-name: playing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .pad-1 { 
    --pad-color : solid #09CCE3;
    border: 2px var(--pad-color); 
  }

  .pad-2{ 
    --pad-color : solid #E3DC09;
    border: 2px var(--pad-color); 
  }

  .pad-3{ 
    --pad-color : solid #0d3a81;
    border: 2px var(--pad-color);  
  }
  .pad-4{ 
    --pad-color : solid #1ebc6d;
    border: 2px var(--pad-color);  
  }
  .pad-5{ 
    --pad-color : solid #bc1e4d;
    border: 2px var(--pad-color);  
  }
  .pad-6{ 
    --pad-color : solid #bc4b1e;
    border: 2px var(--pad-color) ;  
  }
  .pad-title{
    border-radius: 10%;
    width: 80px;
    height: 80px;
    margin: 12px 1px;
    box-shadow: 0 10px 6px -6px black;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color:rgb(24, 24, 24);
    border: 2px solid #fffefe;
  }


  .text-title{
    color: rgb(255, 246, 255);
    text-shadow: 2px 1px rgb(99, 3, 94) ;
    font-family: cursive;
    font-size: 16px;
  }

  button {
    position: justify;
    width: 50px;
    height: 50px;
    font-size: 0;
    background-color: rgb(121, 9, 9);
    border: 0;
    border-radius: 10px;
    outline: none;
    font-size: 9px;
    color: white;
  }

  .startedPlay{
    background-color: rgb(10, 77, 30);
    animation-name: listening;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(210%,210%);
    
  }
  .stoppedPlay{
    background-color: rgb(10, 77, 30);
    transform: translate(210%,210%);
  }
  
  .notRec{
    background-color: rgb(122, 7, 7);
    transform: translate(320%,110%);
  }
  
  .Rec{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translate(320%,110%);
  }

  .pause-button{
    background-color: rgb(75, 6, 82);
    transform: translate(100%,310%);
  }

  .pause-button-hide{
    display: none;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(255, 254, 254, 0.938);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgb(99, 98, 98);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(5, 5, 5, 0.849);
    }
  }

  @keyframes playing{
    0%{
      box-shadow: 0px 0px 3px 0px rgba(112, 7, 131, 0.849);
    }
    65%{
      box-shadow: 0px 0px 3px 5px rgba(80, 42, 78, 0.849);
    }
    90%{
      box-shadow: 0px 0px 3px 8px rgba(255, 255, 255, 0.849);
    }
  }

  @keyframes listening{
    0%{
      box-shadow: 0px 0px 3px 0px rgba(10, 196, 41, 0.849);
    }
    65%{
      box-shadow: 0px 0px 3px 5px rgba(12, 133, 96, 0.849);
    }
    90%{
      box-shadow: 0px 0px 3px 8px rgb(255, 255, 255);
    }
  }

  .combo-box {
    position: justify;
    transform: translate(-85%,0%);
  }
  
  .combo-box select {
    background-color: #1a1c1d;
    color: white;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 25px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    appearance: button;
    outline: none;
  }
  
  .combo-box::before {
    font-family: cursive;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .combo-box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .combo-box select option {
    padding: 10px;
  }

  h1 {
    color: #e91e63;
    font-size: 60px ;  
    font-weight: 900;
    text-shadow: 1px 1px white; 
  }

  pr {
    color: #f6f6f6;
    font-size: 40px ;  
    font-weight: 900;
    text-shadow: none; 
  }

  h3 {
    color: #ffffff;
    font-size: 20px ;  
    font-weight: 900;
    text-shadow: none; 
  }

  .start-button{
    background-color: #5a0648;
    height: 70px;
    width: 100px;
    border-radius: 20px;
  }